#form-gra-time {
    background: #eef;
}

#city-select {
    background: #45a89c;
    width: 60px;
    height: 25px;
    color: #fff;
}

#aqi-chart-wrap {
    border: 1px solid #999;
    background: #eef;
    height: 540px;
    width: 1160px;
    position: relative;
    padding-left: 30px;
}

.day {
    display: block;
    float: left;
    width: 10px;
    position: relative;
    margin-left: 2px;
    cursor: pointer;
}

.week {
    display: block;
    float: left;
    width: 40px;
    position: relative;
    margin-left: 40px;
    cursor: pointer;
}

.month {
    display: block;
    float: left;
    width: 180px;
    position: relative;
    margin-left: 120px;
    cursor: pointer;
}

#showText {
    position: absolute;
    font-size: 15px;
    width: 180px;
    height: 50px;
    padding-left: 20px;
    line-height: 25px;
    top: 5px;
    left: 5px;
    background: #45a89c;
    display: none;
}